NODE_ENV=local-dev
PORT=3000
DATABASE_URL=postgres://whitebit:whitebit@postgres:5432/whitebit_bot
WHITEBIT_BASE_URL=https://whitebit.com/api/v4
WHITEBIT_API_KEY=
WHITEBIT_API_SECRET=
DOCKER_UID=1000
DOCKER_GID=1000
WHITEBIT_API_KEY=
WHITEBIT_API_SECRET=
